@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/**********************
/* BACKGROUND STYLING *
***********************/

body {
    background: #100B1D /*#18112C8*/;
    /*background: linear-gradient(to bottom right, #6DA3A3 10%, #A3775D 80%);*/
    font-family: 'Raleway',sans-serif;
    color: #ffffff;
}

.circle-1, .circle-2 {
    display: none;
}

.circle-1 {
    height: 60vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    background: linear-gradient(133.66deg, #6DA3A3 50%, #A3775D 100%);
    position: fixed;
    top: -30vw;
    left: -30vw;
}

.circle-2 {
    position: fixed;
    bottom: -30vw;
    right: -30vw;
    height: 60vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(311.98deg, #A3775D 50%, #6DA3A3 100%);
}

/* GLOBAL STYLING HELP */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    
}

/******************
/* MAIN CONTAINER *
*******************/

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

/* Menu Toggle */

.header {
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.menu-btn {
    margin-left: auto;
    margin-right: 20px;
    font-size: 2em;
    border: none;
    background: transparent;
    color: #ffffff;
}

.header h1 {
    font-size: 3em;
    text-align: center;
    width: 100%;
}

/* MAIN CONTENT */

.content-box {
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    padding-left: 50px;
    /* background-color: rgba(255,255,255,0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 5px; */
}

.home-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.me-text {
    margin-bottom: 50px;
}

.home-section h3 {
    font-family: 'Raleway',sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: none;
}

.home-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #BeF0F0;
}

.profile-pic {
    width: 180px;
    aspect-ratio: 1/1;
    margin-bottom: 50px;
}

img {
    width: inherit;
    border-radius: 50%;
    border: 4px solid #BeF0F0;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.home-btn {
    background: transparent;
    padding: 10px;
    border: 4px solid rgba(255,255,255,1);
    font-size: 2em;
    color: #ffffff;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.home-btn:hover {
    border-color: #BeF0F0; 
    color: #BeF0F0;
}