@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.hidden {
    display: none;
}

section.hidden {
    display: none;
}

/**********************
/* BACKGROUND STYLING *
***********************/

body {
    display: flex;
        flex-direction: column;
        justify-content: center;
    background: #eeeeee /*#18112C8*/;
    font-family: 'Raleway',sans-serif;
    color: #000000;
}

/* GLOBAL STYLING HELP */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: #3b6064;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    
}

/******************
/* MAIN CONTAINER *
*******************/

.container {
    position: relative;
    width: 100%;
    /* max-width: 992px; */
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Menu Toggle */

.header {
    display: flex;
    justify-content: center;
    background-color: #364958 /*#21163b*/;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    /* border-top: 1px solid #ffffff; */
}

.margin-box {
    width: 100%;
    max-width: 900px;
}

.menu-btn {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    font-size: 2em;
    border: none;
    background: transparent;
    color: #eeeeee;
    cursor: pointer;
    z-index: 998;
}

.header ul {
    display: flex;
    gap: 20px;
    height: 2em;
    align-items: center;
    margin-left: 20px;
}

.header ul li {
    font-size: 1.5em;
    color: #eeeeee;
}

.off {
    transform: translateY(-100vh);
}

.header h1 {
    font-size: 3em;
    text-align: center;
    width: 100%;
    color: #eeeeee;
}

/* NAVIGATION */

nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    color: #364958;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    backdrop-filter: blur(10px);
    transition: transform 500ms ease-in-out;
    opacity: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    align-items: center; 
}

.list-item {
    position: relative;
    font-size: 3em;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(to top, rgba(201, 228, 202,0.4) 10%, transparent 80%);
    z-index: -1;
    transition: width 200ms ease-in;
}

.list-item:hover::before {
    width: 100%;
}

nav .row {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
}

.exit-btn {
    position: relative;
    font-size: 2em;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 999;
    margin-left: auto;
    margin-right: 20px;
}


/* MAIN CONTENT */

.content-box {
    width: 100%;
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

/* LANDING PAGE */

.home-section, .about-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.me-text {
    margin-bottom: 50px;
}

.me-text h3 {
    color: #000000;
}

.home-section h3 {
    font-family: 'Raleway',sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: none;
}

.profile-pic {
    width: 250px;
    aspect-ratio: 1/1;
    margin-bottom: 50px;
}

.profile-pic img {
    width: inherit;
    border-radius: 50%;
    border: 4px solid #364958;
}

.home-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.home-btn {
    border-radius: 15px;
    position: relative;
    background: transparent;
    padding: 10px;
    border: 2px solid #364958;
    font-size: 2em;
    color: #364958;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.home-buttons .home-btn::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    transition: width 200ms ease-in-out;
    background: #364958;
    z-index: -1;
}

.home-btn:hover {
    color: #eeeeee;
}

.home-btn:hover::before {
    width: 100%;
}

/* ABOUT SECTION */

.about-section {
    font-size: 1.25em;
}

.about-section h2 {
    font-size: 2em;
    margin-top: 40px;
}

.about-section p {
    line-height: 1.5em;
    vertical-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-list li {
    margin: 15px;
    padding: 10px;
    border: 4px solid #364958;
    color: #364958;
    font-weight: 400;
}

.resume-list h3 {
    font-size: 1.25em;
}

.resume-list h4 {
    line-height: 2em;
    color: #364958;
}

.resume-list li {
    margin-bottom: 30px;
}

/* PROJECTS SECTION */

.project-section {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    height: 100%;
}

.proj-card {
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff; */
    /* box-shadow: 4px 4px 6px rgba(0,0,0,0.5); */
    background: #ffffff;
    /* border-radius: 15px; */
    padding: 10px;
}

.proj-card p {
    text-align: left;
    margin-bottom: 20px;
}

.proj-card h3 {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
}

.proj-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
    aspect-ratio: 3/2;
    margin-bottom: 20px;
    position: relative;
}

.proj-img img {
    border: 4px solid #364958;
    width: 100%;
    border-radius: 0;
}

.proj-desc {
    width: 100%;
    border-top: 2px solid #364958;
}

.proj-desc ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.proj-desc li {
    padding: 20px;
    font-weight: 400;
}

.proj-links {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    bottom: 15%;
    left: 5%;
    width: calc(90% - 1px);
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 5;
    background: #364958;
}

.proj-links a {
    position: relative;
    background: transparent;
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.proj-links a:visited, .proj-links a:focus, .proj-links a:active {
    color: #FFFFFF;
}

/* FOOTER */

footer {
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: #364958;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.8);
    /* border-top: 1px solid #ffffff; */
}

footer h4 {
    line-height: 2.5em;
    color: #eeeeee;
}